.create-form {
  background-color: rgba(252, 222, 251, 0.75);
  background-size: cover;
  padding: 70px;
  position: relative;
  display: flex;
  justify-content: right;
  width: 440px;
  border: 8px solid rgb(247, 238, 246);
  margin: 40px auto 60px;
  background-image: linear-gradient(
    to bottom right,
    rgba(250, 200, 208, 0.75),
    rgba(186, 236, 245, 0.5),
    rgba(159, 182, 194, 0.5)
  );
  border-radius: 15px;
  box-shadow: 10px 10px 20px 3px rgb(210, 183, 207);
  color: rgb(45, 78, 186);
}
.review-field {
  margin-left: 10px;
  position: relative;
  top: 30px;
  height: 40px;
}
.vendor-form {
  display: flex;
  text-align: right;
  /* border: 1px solid red; */
  flex-direction: column;
  width: 500px;
  margin-left: -65px;
  padding-bottom: 50px;
}
.form-component {
  margin-bottom: 30px;
  margin-top: 10px;
}
.labels {
  margin-right: 10px;
}
.v-name-review {
  text-align: right;
  height: 20px;
  margin-top: -10px;
  margin-bottom: 5px;
}
.form-subheading {
  /* padding-right: 40px; */
  display: inline-block;
  width: 130px;
  margin: 15px 50px 5px 0;
  text-decoration: underline;
  padding-right: 10px;
  /* border: 1px solid blue; */
}
#vendor-name-heading {
  margin-right: 10px;
}
.vendor-fields {
  margin-top: 60px;
}
.your-info-headings {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
#submitter {
  margin-left: 160px;
  background-color: rgb(144, 48, 159);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  transition: linear 0.2s;
}
#submitter:hover {
  box-shadow: 3px 3px grey;
  transform: scale(1.02);
}
.form-heading {
  color: rgb(192, 45, 215);
}
.your-info-headings {
  font-weight: 500;
}
.form {
  margin: -20px 0;
}

@media screen and (min-width: 600px) {
  .small-screen-headings {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .create-form {
    width: 90vw;
    padding: 0 0 15px 0;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin-left: -18px;
    align-items: center;
    width: 100vw;
  }
  .your-info-headings {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 20vw;
  }
  .vendor-fields {
    display: flex;
    flex-direction: column;
  }
  .name-and-email {
    margin: 5px 0 5px -4vw;
  }
  .your-inputs {
    margin: 5px;
  }
  .form-component {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;
    width: 87vw;
    justify-content: left;
  }
  .form-subheading {
    display: none;
  }
  .form-heading {
    margin-top: -20px;
    width: 130px;
    align-self: center;
  }
  .name-email-fields {
    width: 130px;
    margin-top: 70px;
    margin-left: -2vw;
  }
  .vendor-form {
    width: 95vw;
    margin: -10px 0 0 11px;
  }
  .v-name-review {
    display: none;
  }
  .review-field {
    margin-top: -47px;
    margin-left: -1px;
  }
  #submitter {
    width: 128px;
    margin: 0 auto;
    position: relative;
    top: -30px;
  }
  #your-info {
    margin-left: 4vw;
  }
}