.hidden {
  display: none;
} 
.reviews-div {
  margin: 50px auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.check-boxes {
  background-color: rgba(255, 192, 203, .8);
  border-radius: 10px;
  height: 30px;
  line-height: 30px;
  width: 610px;
  box-shadow: 3px 3px 2px 1px rgb(252, 222, 249);
  transition: linear .25s;
}
.check-opt {
  padding: 10px;
  color: black;
  margin-left: 8px;
}
.listing {
  background-color: rgba(252, 241, 251, 0.9);
  padding: 10px;
  padding-left: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px rgba(255, 192, 203, .8);
}
.specific-link {
  float: right;
  background-color: rgb(160, 63, 160);
  padding: 0 10px;
  border-radius: 10px;
  color: rgb(248, 211, 217);
  text-decoration: none;
  box-shadow: 3px 3px 2px 1px rgb(94, 58, 90);
  transition: .25s;
}
.specific-link:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 3px 2px rgb(94, 58, 90);
}

@media screen and (max-width: 415px) {
  .reviews-div {
    position: relative;
    width: 100vw;
  }
  .check-boxes {
    display: flex;
    flex-direction: column;
    width: 160px;
    text-align: right;
    position: absolute;
    margin-top: -180px;;
    right: 12px;;
    height: 165px;
  }
  .check-opt {
    padding: 2px;
  }
  .listing {
    width: 80vw;
    margin-top: 10px;;
  }
}
@media screen and (max-width: 370px) {
  .listing {
    width: 75vw;
  }
}